.card {
  border: 1px solid #dadada73;
  border-radius: 15px;
  color: #ffffff;
  padding: 10px 10px;
  margin: 5px 5px;
  width: 250px;
}

p {
  font-weight: 500;
  color: #ffffff;
}

p span {
  font-weight: 400;
  color: rgb(174 174 174);
  font-size: 14px;
  letter-spacing: 1px;
}

.edit {
  color: #09c400;
}

.edit svg {
  cursor: pointer;
  font-size: 25px;
  margin-top: 10px;
}
